.icon-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.icon-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Predefined Sizes */
.icon-wrapper.xs {
  width: 16px;
  height: 16px;
}

.icon-wrapper.small {
  width: 24px;
  height: 24px;
}

.icon-wrapper.medium {
  width: 32px;
  height: 32px;
}

.icon-wrapper.large {
  width: 48px;
  height: 48px;
}

.icon-wrapper.xl {
  width: 64px;
  height: 64px;
}

.icon-wrapper.xxl {
  width: 96px;
  height: 96px;
}

.icon-wrapper.pretty-large {
  width: 144px;
  height: 144px;
}

.icon-wrapper.xxxl {
  width: 192px;
  height: 192px;
}

.icon-wrapper.very-large {
  width: 256px;
  height: 256px;
}
